{% extends "base.html" %}

{% block website_content %}
<div class="columns">
    <div class="column"></div>
        {{ form.csrf_token }}
        <form action="{{ url_for('site.signup') }}" method="post" enctype="multipart/form-data">
                
            <div class="column is-two-fifth">
                <h1 class="title">Cadastro</h1>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                    <!-- <input class="input" type="email" placeholder="Email"> -->
                    {{ form.email(class="input", placeholder="Email")}}
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                    <!-- <input class="input" type="password" placeholder="Password"> -->
                    {{ form.password(class="input", placeholder="Password")}}
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                    <button class="button is-success">
                        Cadastrar
                    </button>
                    </p>
                </div>

            </div>
    </form>
    <div class="column"></div>
</div>


{% endblock %}